	/********************Congratulations popup*****************************/
  .congratulations-outer{width:100%; height:100%; background: rgba(0, 0, 0, 0.6); padding:10px; position: fixed;}
  .congratulations-outer .close{position: absolute; top:20px; right:20px; cursor: pointer;}
  .congratulations-box{max-width:530px; background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 0px 24px #00000066;
border-radius: 20px;}

.congratulations-box {
max-width: 530px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 24px #00000066;
border-radius: 20px;
/* height: 530px !important; */
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding:45px 20px;
}
.congratulations-box img{margin-bottom: 15px;}
.congratulations-box h3{color:#022B5C; font-size:30px; line-height: 35px; font-weight: 500; margin-bottom:15px;}
.congratulations-box p{color:#2C2C2C; font-size:20px; line-height: 35px; font-weight: 500; margin-bottom:40px; text-align: center;}
.continue-btn {
font-size: 14px;
line-height: 17px;
color: #022B5C;
display: flex;
align-items: center;
justify-content: center;
border: 2px solid #022B5C;
border-radius: 8px;
cursor: pointer;
width: 100%;
max-width: 390px;
height: 53px;
font-weight: 500;
background: #fff;
-webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; 
}

.continue-btn:hover { background:#022B5C; border-color:#022B5C; color: #fff;}

/*****************responsive css***************/
@media only screen and (min-width:768px) and (max-width:992px){
  
}


@media only screen and (max-width: 767px) {
  .congratulations-box{max-width:300px;}
  .congratulations-box h3 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .congratulations-box p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  .congratulations-outer .close {top: 30px; right: 30px; z-index: 9;}
 
}