@media print {
    body {
font-size: 12px; /* Adjust size as needed */
}

.billed-by, .billed-to, .bank-info {
    background-color:#efebf9 !important; 
    -webkit-print-color-adjust: exact; /* For WebKit browsers like Chrome */
    print-color-adjust: exact; /* For other modern browsers */
}

.paid{
    background-color:#52c41a !important; 
    -webkit-print-color-adjust: exact; /* For WebKit browsers like Chrome */
    print-color-adjust: exact; /* For other modern browsers */
}
.invoice-items th {
background-color:#6539c0 !important; /* Your background color */
-webkit-print-color-adjust: exact; /* For WebKit browsers like Chrome */
print-color-adjust: exact; /* For other modern browsers */
}
.invoice-number tr td{
color:#8C989A !important; /* Your background color */
-webkit-print-color-adjust: exact; /* For WebKit browsers like Chrome */
print-color-adjust: exact; /* For other modern browsers */

}


}

body {
color: #333;
margin: 0;
width: 100%;
}
.outer-invoice-container{background-color: #d4d4d7;}

.logo img{max-width: 110px;}
.invoice-container {
max-width: 1000px;
margin: auto;
padding:10px 20px;
background-color: #fff;

}
.invoice-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}
.invoice-number td{font-size: 14px !important;}
.invoice-header h1 {
font-size: 30px;
color: #6539c0;
font-weight: 400;
}
.invoice-details, .invoice-items, .footer {
width: 100%;
margin-bottom: 20px;
}

.invoice-details {
display: flex;
justify-content: space-between;
gap: 15px; margin-top:30px;
}
.invoice-items table{
width: 100%;
border-collapse: collapse;
}
.invoice-items th, .invoice-items td{
padding: 10px;
border: 1px solid #ddd;
text-align: left;
}
.invoice-items tr.bg{background-color: #efebf9;}
.invoice-items td {
border: 0;
text-align: center;
padding: 15px 10px;
}
.invoice-items {
border: 1px solid #dddddd;
border-radius: 10px;
overflow: hidden;
}
.invoice-items th:last-child{border-right: 0;}
.invoice-items th {
text-align: center; border: 0; border-right: 1px solid #dddddd;

}
.invoice-items th {
background-color: #6539c0;
color: #fff;
height:35px; font-size: 14px;
}
.invoice-items td{font-size: 14px;}

.invoice-bank-details{display: flex; gap:30px;}
.bank-info table tr td{line-height:20px; font-size: 14px; vertical-align: top;}
.bank-info table tr td:first-child{width:150px;}
.total-amount{width: 100%;}
.total-amount table{width: 100%;}
.total-amount table tr td {
font-size: 14px;
line-height: 16px;
color: #363636;
}
.total-amount table tr td:last-child{text-align: right;}

.barcode{max-width:135px; width: 100%; text-align: center;}
.barcode h5{margin: 0; font-size: 16px; line-height:16px; color: #6e45c3; font-weight: 400;}
.barcode figure{width: 100%; margin: 10px 0;}
.barcode figure img{width: 100%;}
.footer {
text-align: center;
font-size: 16px;
color: #777; margin-top: 100px; margin-bottom: 0;
}
.footer p{margin: 0; font-size: 10px;}