.titlenew {
    width: 40%;
  }
  .linknew {
    width: 60%;
  }
  .descriptionnew {
    width: 70%;
  }
  .shimmernew {
    padding: 5px;
    width: 95%;
    height: 120px;
    margin: 10px auto;
    background: #ffffff;
  }
  .shimmernew .image-card {
    height: 90px;
    width: 90px;
    float: right;
    border-radius: 8px;
  }
  .stroke {
    height: 15px;
    background: #777;
    margin-top: 20px;
  }
  
  .wrappernew {
    width: 0px;
    animation: fullView 0.5s forwards linear;
  }
  
  @keyframes fullView {
    100% {
      width: 100%;
    }
  }
  .animatenew {
    animation: shimmernew 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
  }
  @keyframes shimmernew {
    from {
      background-position: -1000px 0;
    }
    to {
      background-position: 1000px 0;
    }
  }
  