.about-banner {
	background: #FDFAFF;
	padding: 50px 0;
}
.about-banner h1{color: #000; font-size: 54px; line-height: 60px; font-weight: 400;}
.info-text {
	padding: 0 0 0 50px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}
.about-banner p{font-size: 30px; line-height: 45px; font-weight: 400;}
.about-banner figure{margin: 0;}
.bg-light-grey{background: #FCFCFC;}
.common-text-container {
	width: 100%;
	padding: 50px 0;
}
.common-text-container h3{color:#2C2C2C; font-size: 30px; line-height: 35px; margin-bottom:20px; font-weight: 700; font-family: "Rubik", sans-serif;}
.common-text-container p{color:#2C2C2C; font-size:16px; line-height:26px; margin-bottom: 10px; font-weight:400; font-family: "Rubik", sans-serif;}

.common-text-container figure{margin: 0;}
.common-text-container figure img{max-width: 100%;}
.common-text-container .text-fix {max-width: 80%;}

.offering-container{padding: 50px 0; width:100%; position: relative;}
.offering-container::after{ position: absolute; left: 0; top: 0; content: ""; background: transparent linear-gradient(180deg, #7B58EB 0%, #B5A4ED 100%) 0% 0% no-repeat; width: 100%; height:400px;  z-index: -1;}
.offering-container::before {
	position: absolute;
	left: 0;
	bottom: 157px;
	content: "";
	background: url(../images/white-crv.png) no-repeat 0 0;
	width: 100%;
	height: 100px;
	/* z-index: -1; */
	background-size: 100% auto;
}



.offering-container h3{color:#fff; font-size: 30px; line-height: 35px; margin-bottom:20px; font-weight: 700; font-family: "Rubik", sans-serif;}
.offering-container p {color: #fff;font-size: 16px;line-height: 26px;margin-bottom:50px;font-weight: 400;font-family: "Rubik", sans-serif;}
.offering-container .card{flex: 1; /* Make all boxes equal in width */
  aspect-ratio: 1; /* Make the height equal to the width */
  margin:20px;
  display: flex;
  border: 1px solid #E6E6E6; border-radius:15px;}
.offering-container h4{color:#3C3C3C; font-size:20px; line-height:25px; margin-bottom:20px; font-weight: 700; font-family: "Rubik", sans-serif; min-height: 50px;}

.offering-container .card p {color:#2C2C2C ;font-size: 16px;line-height: 26px; margin-bottom:0; font-weight: 400;font-family: "Rubik", sans-serif;}
.offering-container .card-row{display: flex;
  justify-content: space-around; /* Space between boxes */
  align-items: center; /* Align items vertically */
  height: 300px; /* Set container height */}

.offering-container .card {
	flex: 1;
	aspect-ratio: 1;
	margin: 20px;
	display: flex;
	border: 1px solid #E6E6E6;
	border-radius: 15px;
	padding: 20px;
}

.openion-text {
	background: #F7EFFF;
	width: 100%;
	height: 100%;
	padding: 80px 40px;
}
.openion-text p{margin-bottom: 20px;}
.openion-text strong {
	font-size: 20px;
	line-height: 30px;
	color: #2E2E2E;
	font-weight: 400;
	margin-bottom: 20px;
	display: block;
}

.common-text-container.customer{padding: 0;}
.common-text-container.customer figure {
	margin: 0;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.common-text-container.customer figure img{max-width: 100%;}

.call-to-action{margin:50px 0;}
.cta-link {
	
	font-weight: 700;
	font-family: "Rubik", sans-serif;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 0 0;
}

.cta-link a{color: #7B58EB;}
.cta-link a:hover{text-decoration: underline;}